syntax: glob
*.resharper
*.suo
*.user
*.pdb
*.vspscc
*.vsssccc
*.scc
*/_ReSharper*
*/bin
*/obj
*/nunitbin
*/_ReSharper.*
bin
obj
nunitbin
[Ww]orking
TestResults
AppPackages/*.resharperoptions
*.db
*.bak
*_ReSharper*
*.snk
logs
output
TestResults
.svn
packages
*.dat
*.nupkg
